In [0]:
# !pip install pandas

In [0]:
# %restart_python

# !pip install databricks-sql-connector

In [0]:

 

import pandas as pd
df = pd.read_csv("/Volumes/workspace/pysparktut/pysparktutvol/customer_shopping_behavior.csv")

df.head()

   Customer ID  Age  ... Payment Method Frequency of Purchases
0            1   55  ...          Venmo            Fortnightly
1            2   19  ...           Cash            Fortnightly
2            3   50  ...    Credit Card                 Weekly
3            4   21  ...         PayPal                 Weekly
4            5   45  ...         PayPal               Annually

[5 rows x 18 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [0]:
df.describe(include='all') # check the summary startics for all the columns / by default only for numerical columns 
# write all for statrics for categorical data

        Customer ID          Age  ... Payment Method Frequency of Purchases
count   3900.000000  3900.000000  ...           3900                   3900
unique          NaN          NaN  ...              6                      7
top             NaN          NaN  ...         PayPal         Every 3 Months
freq            NaN          NaN  ...            677                    584
mean    1950.500000    44.068462  ...            NaN                    NaN
std     1125.977353    15.207589  ...            NaN                    NaN
min        1.000000    18.000000  ...            NaN                    NaN
25%      975.750000    31.000000  ...            NaN                    NaN
50%     1950.500000    44.000000  ...            NaN                    NaN
75%     2925.250000    57.000000  ...            NaN                    NaN
max     3900.000000    70.000000  ...            NaN                    NaN

[11 rows x 18 columns]

In [0]:
df.isnull().sum() 

# find the median for each category for rating for avoiding bias from other categories

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [0]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x : x.fillna(x.median()))

df.isnull().sum()  # now no null

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [0]:
# put all column names in snake casing 

df.columns = df.columns.str.lower()

df.columns = df.columns.str.replace(" ", "_")

df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [0]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [0]:
# do some feature engeneering 

# create a column age_group

labels=['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels=labels)

In [0]:
df[['age', 'age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [0]:
# create a column frequency_of_purchases

# they are in text format so covert them into numerical to do some arithmetic on them

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

df[['purchase_frequency_days', 'frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [0]:
df[['discount_applied', 'promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [0]:
(df['discount_applied'] == df['promo_code_used']).all() # checking are they carrying smae information if yes then drop one

np.True_

In [0]:
df = df.drop('promo_code_used', axis=1)

In [0]:
df.columns

# df.head()


#dapibcd08a051f91ff6bd912f134a6fb9f0b

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [0]:
# from databricks import sql
# import pandas as pd  # Assuming you're using pandas to manage the DataFrame



# # Databricks connection setup
# connection = sql.connect(
#     server_hostname="dbc-c2d32352-7229.cloud.databricks.com",
#     http_path="/sql/1.0/warehouses/d460f3b3f786dc56",
#     access_token="dapibcd08a051f91ff6bd912f134a6fb9f0b"
# )

# def insert_data(cur, con, df):
#     # Create the customer_data table if it does not exist
#     cur.execute('''
#     CREATE TABLE IF NOT EXISTS customer_data (
#         customer_id INT PRIMARY KEY,
#         age INT,
#         gender STRING,
#         item_purchased STRING,
#         category STRING,
#         purchase_amount DOUBLE,
#         location STRING,
#         size STRING,
#         color STRING,
#         season STRING,
#         review_rating DOUBLE,
#         subscription_status STRING,
#         shipping_type STRING,
#         discount_applied STRING,
#         previous_purchases INT,
#         payment_method STRING,
#         frequency_of_purchases STRING,
#         age_group STRING,
#         purchase_frequency_days INT
#     );
#     ''')

#     # Convert DataFrame to list of tuples (excluding the header)
#     data_to_insert = df.values.tolist()

#     # Insert data into the table
#     insert_query = '''
#     INSERT INTO customer_data (customer_id, age, gender, item_purchased, category, 
#                                purchase_amount, location, size, color, season, review_rating, 
#                                subscription_status, shipping_type, discount_applied, 
#                                previous_purchases, payment_method, frequency_of_purchases, 
#                                age_group, purchase_frequency_days)
#     VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?,?)
#     '''
    
#     cur.executemany(insert_query, data_to_insert)
#     con.commit()

# try:
#     # Connect to the Databricks SQL server
#     cursor = connection.cursor()

#     # Insert the customer data into the database
#     # insert_data(cursor, connection, df)

#     # Query to verify the data insertion (e.g., check the first 10 rows)
#     cursor.execute("SELECT * FROM customer_data LIMIT 10")
#     print(cursor.fetchall())  # Print the first 10 records

# except Exception as e:
#     print(f"An error occurred: {e}")

# finally:
#     # Ensure cursor and connection are closed
#     if cursor:
#         cursor.close()
#     if connection:
#         connection.close()

In [0]:
df.head()
# print(df['customer_id'].duplicated().sum())  # Check if there are any duplicate customer_ids

# data_tuples = [tuple(row) for row in df.values]
# print(data_tuples)

   customer_id  age  ...    age_group purchase_frequency_days
0            1   55  ...  Middle-aged                      14
1            2   19  ...  Young Adult                      14
2            3   50  ...  Middle-aged                       7
3            4   21  ...  Young Adult                       7
4            5   45  ...  Middle-aged                     365

[5 rows x 19 columns]

  File <command-6312835840350828>, line 1
    SHOW TABLES
         ^
SyntaxError: invalid syntax